body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #0f1e22, #000000);
    color:rgb(8, 196, 8);
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Gap between images */
  }
  
  .image-gallery img {
    max-width: 100%;
    height: auto;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 20px;
  }
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .cta-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-buttons a:hover {
    background-color: #0056b3;
  }

  #ret{
    font-size: 50px;
    border: 3px solid yellow;
  }
  