body {
    font-family: Arial, sans-serif;
    background-image:url('assets/bg.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(88, 34, 34);
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: black;
}

.links {
    margin-top: 90px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 16px;
    margin: 0 100px;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: red;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.profile-image img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-description {
    text-align: center;
    margin-top: 20px;
}

.profile-description p {
    font-size: 40px;
    color: rgb(0, 178, 248);
}
